:root {
    font-size: 12;
    line-height: 1.6em;
}

body {
    background: #e9d8af;
    color: #5b4636;
}

h1 {
    font-size: 1.6em;
    line-height: 1.25em;
}

h2 {
    font-size: 1.2em;
    line-height: 1.51em;
}

h3 {
    font-size: 1em;
    line-height: 1.66em;
}