h1 {
    color: red;
}

/* Inline #1 | file:///home/sofia/code/mdn/css/getting_started/index.html */

body {
}

p, li {
  color: green;
}

li {
  list-style-type: circle;
}

.special {
  color: orange;
  font-weight: bold;
}

/* Inline #1 | file:///home/sofia/code/mdn/css/getting_started/index.html */

a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: red;
  }
  